:root {
  --acsent-color: hsl(215deg 100% 95%);
  --alt-color: hsl(120deg 20% 30%);
  --std-border: 1px solid gray;
  --std-margin: 0.2em;
  --line-margin: 0.5em;
}

body {
	font-family: sans-serif;
	font-size: 22pt;
}

/*
Spinner
*/
.spinner {
	
}

#container {
	display: grid;
   	grid-template-columns: auto 1fr auto auto auto;
   	grid-template-rows: auto;
   	align-items: stretch;
}

#head_stat {
	border: var(--std-border);
	display: inline-grid;
   	grid-template-columns: auto;
   	grid-template-rows: auto 1fr;
   	align-items: stretch;
}

#timestamp {
	font-size: 0.75em;
	text-align: center;
	color: var(--alt-color);
	background-color: var(--acsent-color);
	margin: var(--std-margin);
	padding: var(--std-margin);
}

#stat {
	align-self: center;
    text-align: center;
    font-weight: bold;
	font-size: 2em;
	color: var(--alt-color);
	margin: 0.2em 0;
}

#program_stat {
	border-bottom: var(--std-border);
	border-top: var(--std-border);
	display: inline-grid;
   	grid-template-columns: auto 1fr;
   	grid-template-rows: auto;
   	align-items: stretch;
	font-size: 0.85em;
}

.program_current {
	background-color: var(--acsent-color);
}

.program_label {
	text-align: right;
	align-self: center;
	padding: var(--std-margin);
	color: var(--alt-color);
	margin-left: var(--std-margin);
}

.program_value {
	align-self: center;
	padding: var(--std-margin);
	margin-right: var(--std-margin);
}

.name {
	display: inline-block;
	text-align: right;
	padding: var(--line-margin) var(--std-margin) var(--line-margin) 0;
	cursor: default;
}

.stat {
	display: inline-block;
	padding: var(--line-margin) 0 var(--line-margin) var(--std-margin);
	cursor: default;
}

.on {
	background-color: hsl(130, 100%, 50%);
}

.std_btn {
	font-size: 1.5em;
	font-weight: bold;
}

.even {
	background-color: var(--acsent-color);
} 
